/* 
1. Posicionamiento
2. Modelo Caja (Box Model)
3. Tipografía
4. Visuales
5. Miscelaneos
*/
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secundary-blue: #1A9AF7;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$warm-black-1: #282623;
$grey: #BABABA;
$off-white: #FAF8F7;
$just-white: #FFFFFF;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    img {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    }

    .header--title-container {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        text-align: center;
        align-self: center;

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $just-white;
        }

        p {
            margin-top: 25px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $soft-orange;
        }

        .header--button {
            position: absolute;
            left: calc(50% - 118px);
            top: 270px;
            display: block;
            margin-top: 35px;
            padding: 15px;
            width: 229px;
            height: 48px;
            background-color: $off-white;
            /* Sombra */
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            border: none;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: bold;
            text-decoration: none;
            color: $warm-black;

            span {
                display: inline-block;
                width: 13px;
                height: 8px;
                margin-left: 10px;
                background-image: url("./assets/icons/down-arrow.svg");
            }
        }
    } 
}
main {
    width: 100%;
    height: auto;
    background-color: $off-white;

    .main--exchange-container {
        width: 100%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 30px;
        text-align: center;
    }

    .main--exchange-container-title {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $warm-black;
        }

        p {
            margin-bottom: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: #585858;
        }
    }
    .backgroundImg {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background: no-repeat center/cover url("./assets/img/Bitcoin.svg");
    }
}
.main--currency-table {
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 50px;
    font-family: 'Inter', sans-serif;

    .currency--table-title {
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: $bitcoin-orange;
    }

    .currency--table-container {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 176px;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(4, calc(176px/4))/repeat(2, 115px);
        align-items: center;
        justify-content: center;

        div {
            border: 1px solid $off-white;
        }

        .table--left {
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.9rem;
            color: #585858;
            background-color: $just-white;
        }

        .table--right {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 1.7rem;
            color: #757575;
        }

        div {
            width: 50%;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: $grey;
            background-color: $just-white;
        }

        .table__top-left {
            border-radius: 15px 0 0 0;
        }

        .table__top-right {
            border-radius: 0 15px 0 0;
        }

        .table__bottom-right {
            border-radius: 0 0 15px 0;
        }

        .table__bottom-left {
            border-radius: 0 0 0 15px;
        }

        .down {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            background: no-repeat center/cover url('./assets/icons/trending-down.svg');
        }

        .up {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            background: no-repeat center/cover url('./assets/icons/trending-up.svg');
        }
    }
    .currency__table-day {
        width: 190px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 8px;
        background-color: $soft-orange;
        border-radius: 8px;
        
        p {
            color: $warm-black;
            font-size:1.2rem;
            line-height: 1.5rem;
        }
    }
}
.main--secundary-table {
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 25px;
    font-family: 'Inter', sans-serif;

    .secundary--table-title {
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.3rem;
        color: $secundary-blue;
    }

    .secundary--table-container {
        width: 90%;
        min-width: 230px;
        max-width: 300px;
        height: 176px;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(4, calc(176px/4))/repeat(2, 115px);
        align-items: center;
        justify-content: center;

        div {
            border: 1px solid $off-white;
        }

        .table--left {
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.9rem;
            color: #585858;
            background-color: $just-white;
        }

        .table--right {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 1.7rem;
            color: #757575;
        }

        div {
            width: 50%;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: $grey;
            background-color: $just-white;
        }

        .table__top-left {
            border-radius: 15px 0 0 0;
        }

        .table__top-right {
            border-radius: 0 15px 0 0;
        }

        .table__bottom-right {
            border-radius: 0 0 15px 0;
        }

        .table__bottom-left {
            border-radius: 0 0 0 15px;
        }
    }
    .secundary__table-day {
        width: 190px;
        height: 30px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 8px;
        background-color: $soft-blue;
        border-radius: 8px;
        
        p {
            color: $warm-black;
            font-size:1.2rem;
            line-height: 1.5rem;
        }
    }
}
.main__product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: $warm-black;

    .product__detail-batata-logo {
        position: absolute;
        width: 40px;
        height: 25px;
        top: -10px;
        left: calc(50% - 20px);
        background-image: url('./assets/icons/batata.svg');
    }

    .product__detail-title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $just-white;
        }

        p {
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #808080;
            ;
        }
    }

    .product__detail-card {
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: $warm-black-1;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
        }

        .clock {
            background: no-repeat center/cover url('./assets/icons/clock.svg');
        }

        .eye {
            background: no-repeat center/cover url('./assets/icons/eye.svg');
        }

        .dollar {
            background: no-repeat center/cover url('./assets/icons/dollar-sign.svg');
        }

        .check-circle {
            background: no-repeat center/cover url('./assets/icons/check-circle.svg');
        }

        .product__card-title {
            margin-bottom: 15px;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.8rem;
            color: $just-white;
        }

        .product__card-body {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #808080;
        }
    }
}
.bitcoin__img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background: no-repeat center/cover url('./assets/img/bitcoinbaby2x.jpg');
    text-align: center;

    h2 {
        color: $just-white;
        padding-top: 60px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
    }
}
.main--tables-container {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 40px;
}

.main__plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: $off-white;

    .plans--title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 40px;

        h2 {
            padding-top: 50px;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $warm-black;
        }

        p {
            padding-top: 30px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: #757575;
        }
    }

    .plans__container--slider {
        display: flex;
        height: 316px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        margin: 0 10px;
        /* justify-content: space-between; */
    }

    .plans__container--card{
        position: relative;
        scroll-snap-align: center;
        width: 70%;
        min-width: 190px;
        max-width: 280px;
        height: 250px;
        margin: 50px 5px 0;
        padding: 0 15px;
        background-color: $just-white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    
        .recommended {
            position: absolute;
            width: 120px;
            height: 31px;
            top: -15px;
            left: calc(50% - 60px);
            font-size: 1.2rem;
            padding: 6px;
            background-color: $bitcoin-orange;
            border-radius: 8px;
            color: $just-white;
        }

        .basic {
            position: absolute;
            width: 120px;
            height: 31px;
            top: -15px;
            left: calc(50% - 60px);
            font-size: 1.2rem;
            padding: 6px;
            background-color: $secundary-blue;
            border-radius: 8px;
            color: $just-white;
        }

        .two-years {
            position: absolute;
            width: 120px;
            height: 31px;
            top: -15px;
            left: calc(50% - 60px);
            font-size: 1.2rem;
            padding: 6px;
            background: linear-gradient(207.8deg, #201E1C 16.69%, #ffc175 100%);
            border-radius: 8px;
            color: $just-white;
        }
    }

    .plan-card--title {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: $warm-black;
    }

    .plan-card--price {
        padding: 5px 0;
        font-size: 5.2rem;
        font-weight: bold;
        color: $warm-black;

        span {
            font-size: 1.5rem;
            font-weight: 300;
            vertical-align: 2.5rem;
        }
    }

    .plan-card--saving {
        font-size: 1.2rem;
        color: #757575;
    }

    .plan-card--ca {
        width: 150px;
        height: 48px;
        margin-top: 20px;
        background-color: $off-white;
        border: 2px solid $bitcoin-orange;
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: $warm-black;
        font-family: 'DM Sans', sans-serif;

        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: text-bottom;
            background: no-repeat center/cover url('./assets/icons/orange-right-arrow.svg');
        }
    }

    .plan-card--ca-two {
        border: 2px solid $secundary-blue;
        font-family: 'DM Sans', sans-serif;
        @extend .plan-card--ca;

        span {
            background: no-repeat center/cover url('./assets/icons/arrow-right-blue.png');
        }
    }

    .plan-card--ca-three {
        border: 2px solid #dfc391;
        font-family: 'DM Sans', sans-serif;
        @extend .plan-card--ca;

        span {
            background: no-repeat center/cover url('./assets/icons/arrow-right-marron.png');
        }
    }
}
footer {
    display: flex;
    background-color: $bitcoin-orange;
    width: 100%;
    height: 150px;

    section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left ul {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        list-style: none;

        li {
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            color: $just-white;
        }
    }
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
    /* display: none; */
}
::-webkit-scrollbar-thumb {
    background: $bitcoin-orange;
    border-radius: 4px;
}
::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
    background: #999;
}